/* Your glorious CSS here */
textarea {
  width: 100%;
  margin: 5px;
  padding: 5px;
  resize: none;
  outline: none;
  width: 500px;
  padding: 10px;
  height: 100%;     
}

.boxsizingBorder {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

div {
  -webkit-align-content: center;
  align-content: center;
  text-align: center;
}

h1 {
  margin: 15px;
  padding: 15px;
  font-size: 50px;
}

h2.note-title {
  font-size: 24px;
}

h3.note-text {
  font-size: 16px;
}

li.note {
    border:1px dotted gray;
}

ul {
  list-style: none;
}

label {
  margin: 5px;
  padding: 5px;
  vertical-align: center;
  text-align: center;
}

input.editor-title {
  margin: 5px;
  padding: 5px;
  width: 500px;
}